[submodule "boards/rpi4/poky"]
	path = boards/rpi4/poky
	url = https://git.yoctoproject.org/poky
	branch = scarthgap
[submodule "boards/rpi4/meta-openembedded"]
	path = boards/rpi4/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = scarthgap
[submodule "boards/rpi4/meta-raspberrypi"]
	path = boards/rpi4/meta-raspberrypi
	url = https://git.yoctoproject.org/meta-raspberrypi
	branch = scarthgap
